html, body, container {
  height: 100%;
}

.row {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

body {
  background-image: url("../img/mars2.jpg");
}

p {
  color: #4286f4;
  font-size: 25px;
  font-family: 'Luckiest Guy', cursive;
}

b {
  color: #4286f4;
  font-size: 100px;
  font-family: 'Luckiest Guy', cursive;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.1);
}

.fifty {
  min-height: 400px;
}

.twenty5 {
  min-height: 200px;
}

input {
  font-size: 25px;
  color: white;
  font-family: 'Comic Sans MS';
  margin: 15px 0px 5px 0px;
  border-width: 0px;
  min-width:100%;
  min-height:100%
}
input::placeholder {
  font-size: 25px;
  color: white;
  font-family: 'Comic Sans MS';
}