body {
	background-image: url("../img/mars2.jpg");
}

<<<<<<< HEAD
.blue {
	color: #4286f4;
	font-size: 100px;
	font-family: 'Luckiest Guy', cursive;
	background-color: rgba(255, 255, 255, 0.8); 
}
=======
>>>>>>> 4e6ad8bbf9a986f8d4e7b95088c694e64a34897f


p {
	color: #4286f4;
	font-size: 25px;
<<<<<<< HEAD
	font-family: 'Luckiest Guy', cursive;
	background-color: rgba(255, 255, 255, 0.8); 
=======
	font-family:"Comic Sans MS";
>>>>>>> 4e6ad8bbf9a986f8d4e7b95088c694e64a34897f
}

.red {
	color: #ff0000;
	font-size: 25px;
<<<<<<< HEAD
	font-family: 'Luckiest Guy', cursive;
	background-color: rgba(255, 255, 255, 0.8); 
}

.btn {
	font-family: 'Luckiest Guy', cursive;
=======
	font-family:"Comic Sans MS";
	background-color: rgba(0, 0, 0, 0.5); 
}

.title {
	margin: 25px 0px;
}
.main {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
}

b {
	color: #4286f4;
	font-size: 100px;
	font-family:"Comic Sans MS";
	background-color: rgba(0, 0, 0, 0.5); 
	padding: 20px;
>>>>>>> 4e6ad8bbf9a986f8d4e7b95088c694e64a34897f
}