body {
	background-image: url("../img/mars2.jpg");
}

.blue {
	color: #4286f4;
	font-size: 100px;
	font-family:"Comic Sans MS";
	background-color: rgba(0, 0, 0, 0.5); 
}

.blue2 {
	color: #4286f4;
	font-size: 25px;
	font-family:"Comic Sans MS";
	background-color: rgba(0, 0, 0, 0.5); 
}

.red {
	color: #ff0000;
	font-size: 25px;
	font-family:"Comic Sans MS";
	background-color: rgba(0, 0, 0, 0.5); 
}

.title {
	margin: 25px 0px;
}